@font-face {
    font-family: 'PT Serif B';
    src: url('../fonts/PTSerif-Bold.eot');
    src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-Bold.woff2') format('woff2'), url('../fonts/PTSerif-Bold.woff') format('woff'), url('../fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans BI';
    src: url('../fonts/PTSans-BoldItalic.eot');
    src: url('../fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-BoldItalic.woff2') format('woff2'), url('../fonts/PTSans-BoldItalic.woff') format('woff'), url('../fonts/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans Narrow B';
    src: url('../fonts/PTSans-NarrowBold.eot');
    src: url('../fonts/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-NarrowBold.woff2') format('woff2'), url('../fonts/PTSans-NarrowBold.woff') format('woff'), url('../fonts/PTSans-NarrowBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTSans-Narrow.eot');
    src: url('../fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Narrow.woff2') format('woff2'), url('../fonts/PTSans-Narrow.woff') format('woff'), url('../fonts/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans I';
    src: url('../fonts/PTSans-Italic.eot');
    src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Italic.woff2') format('woff2'), url('../fonts/PTSans-Italic.woff') format('woff'), url('../fonts/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.eot');
    src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Regular.woff2') format('woff2'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif I';
    src: url('../fonts/PTSerif-Italic.eot');
    src: url('../fonts/PTSerif-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-Italic.woff2') format('woff2'), url('../fonts/PTSerif-Italic.woff') format('woff'), url('../fonts/PTSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans B';
    src: url('../fonts/PTSans-Bold.eot');
    src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Bold.woff2') format('woff2'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif BI';
    src: url('../fonts/PTSerif-BoldItalic.eot');
    src: url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-BoldItalic.woff2') format('woff2'), url('../fonts/PTSerif-BoldItalic.woff') format('woff'), url('../fonts/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.eot');
    src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif-Regular.woff2') format('woff2'), url('../fonts/PTSerif-Regular.woff') format('woff'), url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	line-height: 20px;
}
h1,
h2 {
    margin: 0;
}

button, input{
    outline: none !important;
}
.btn{
    color: #ffd991;
    outline: none;
}
.btn-size {
    width: 390px;
    height: 76px;
    font-family: 'PT Serif B', arial, sans-serif;
    font-size: 24px;
    border-radius: 7px;
}

.btn-bg {
    background-image: url(../img/btn-normal-big.png);
    background-size: 100% 100%;
    color: #ffd991 !important;
    &:hover {
        background-image: url(../img/btn-hover-big.png);
        color: #ffd991;
    }
    &:active {
        background-image: url(../img/btn-active-big.png);
        color: #ffd991;
    }
}

.after-line {
    text-align: center;
    margin-bottom: 25px;
    &:before {
        content: '';
        width: 70px;
        height: 1px;
        background-color: #ffd991;
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    &:after {
        content: '';
        width: 70px;
        height: 1px;
        background-color: #ffd991;
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

h2 {
    font-family: 'PT Serif B', arial, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
    color: #a8080c;
    margin-bottom: 5px;
}

header {
    min-height: 800px;
    text-align: center;
    background: url("../img/headeer-bg.jpg") center top no-repeat;
    .top-line {
        margin-top: 52px;
    }
    h1 {
        margin: 47px 12% 0;
        font-family: 'PT Serif B', arial, sans-serif;
        color: #a8080c;
        font-size: 42px;
        background: #fff;
        padding: 18px 0px 22px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        span {
            color: #dba55c;
        }
    }
    h3 {
        font-size: 32px;
        color: #fff;
        font-family: 'PT Sans B', arial, sans-serif;
        background: #dba55c;
        padding: 20px 24px 20px 12px;
        border-bottom-right-radius: 15px;
        margin: 0 29%;
    }
    figure {
        margin: 57px 0 46px;
        figcaption {
            font-size: 24px;
            line-height: 25px;
            color: #a8080c;
            font-family: 'PT Sans B', arial, sans-serif;
            margin-left: 15px;
            &.text-right{
                text-align: center;
            }
        }
    }
    .float-r {
        float: right;
        margin-right: -50px;
    }
    .float-l {
        float: left;
        margin-left: -73px;
    }
}


/*production*/

.production {
    min-height: 1455px;
    background: url("../img/second-bg.jpg") bottom no-repeat;
    	.small-padding{
		padding-right: 10px;
        padding-left: 10px;
	    }
    .button {
        margin-top: 10px;
        text-align: center;
    }
    .item-pr {
        height: 351px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
        background: #fff;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
    }
    figure {
        position: relative;
        .triangle_top {
            width: 0;
            height: 0;
            border-bottom: 13px solid #fff;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            position: absolute;
            left: 11%;
            bottom: 30%;
            -webkit-transform: translateY(0%) translateX(-50%);
            -moz-transform: translateY(0%) translateX(-50%);
            -ms-transform: translateY(0%) translateX(-50%);
            -o-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
        }
        img {
            width: 100%;
            height: 250px;
        }
        figcaption {
            background: #fff;
            font-size: 24px;
            font-family: 'PT Serif B', arial, sans-serif;
            padding: 26px 0 26px 31px;
            line-height: 28px;
            color: #a8080c;
            span {
                color: #b98236;
                font-size: 16px;
                font-family: 'PT Sans', arial, sans-serif;
                display: block;
            }
        }
    }
}


/*third*/
    .mr  {
    	text-align: center;
        margin: 0 22% 20px;
        font-size: 16px;
        font-family: 'PT Sans', arial, sans-serif;
     
    }
.about {
    text-align: center;
    min-height: 890px;
    background: url("../img/third-bg.jpg") bottom center no-repeat;
    background-size: cover;
    h2{
        margin-top: 68px;
    }
  .btn{
  	margin-top: 15px;
  }

    .flex-container {
        padding: 0;
        margin-bottom: 36px;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        .flex-item {
            position: relative;
            background: #fff;
            padding: 0 40px;
            width: 221px;
            height: 138px;
            margin-top: 20px;
            justify-content: center;
            text-align: center;
            -webkit-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
            img {
                position: absolute;
                -webkit-transform: translateY(-50%) translateX(-50%);
                -moz-transform: translateY(-50%) translateX(-50%);
                -ms-transform: translateY(-50%) translateX(-50%);
                -o-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
                top: 50%;
                left: 50%;
                width: 63%;
                text-align: center;
            }
            &:nth-child(3){
                img{
                    width:46%;
                }
            }
        }
    }
}

/*works*/
.works{
	min-height: 870px;
    background: url("../img/fof-bg.jpg") bottom center no-repeat;
    background-size: cover;
    h2{
        margin-top: 65px;
    }
    .mr{
        margin: 0 22% 2px;
    }
.galery {
  overflow: hidden;
  position: relative;
  height: 100%;
    .left-overlay {
      background: rgba(204, 204, 204, 0.54);
      position: absolute;
      top: 0;
      left: 0;
      width: 24%;
      height: 100%;
      z-index: 11;
      border-top-left-radius: 20px ;
}
.right-overlay {
  background: rgba(204, 204, 204, 0.54);
  position: absolute;
  top: 0;
  right: 0;
  width: 24%;
  height: 100%;
  z-index: 11;
                  border-top-right-radius: 20px ;  


}.owl-carousel {
  width: 159.1% !important;
  margin-left: -29.5555%;
}
}
}



/*footer*/
footer{
	min-height: 600px;
	background-image: url(../img/third-bg.jpg);
	background-size: cover;
	.map {
    width: 33%;
    height: 600px;
    float: left;
}
.info{
	width: 66%;
    float: right;
    padding-top: 60px;
    padding-left: 60px;

    .logo {
    margin-bottom: 43px;
    width: 121px;
}
.footer{
.phone {display:inline-block;
    margin-right: 93px;

    position: relative;
    font-family: 'PT Sans', arial, sans-serif;
    font-size: 20px;
    &.margin-r{
        margin-right:0;
    }
}
.number{
	font-family: 'PT Serif B', arial, sans-serif;
	font-size: 32px;
    margin: 26px 0;
	span{
		font-family: 'PT Sans', arial, sans-serif;
		 font-size: 20px;
		 color: #b98236;
	}
}button{
	margin-top: 15px;
	height: 72px;
	width: 280px;


}
}

}

.copyright {

    width: 27%;
    float: left;
    font-size: 16px;
    padding-left: 63px;
    margin-top: 100px;

  .privacy {
    width: 100%;
      a{
    font-family: 'PT Sans', arial, sans-serif;
    font-size: 16px;
    color: #a8080c;	
    }
    span{
    	color: #999999;	
    	font-family: 'PT Sans', arial, sans-serif;
    }
}
}
.visible-xx {
    display: none;
}
.ads {
    width: 25%;
    float: left;
    position: relative;
    margin-top: 102px;
    margin-left: 85px;

      a{
    font-family: 'PT Sans', arial, sans-serif;
    font-size: 16px;
    color: #a8080c;	
    }
    img{
    	    position: absolute;
    top: 0;
    left: 122px;
    }
}
}
.item-pr-last{display: none;}


//modal
#phone{
    margin-bottom: 30px;
}
#thanks{
    .modal-content {height:250px; }
}
.btn-close{
    float: right;
    background: none;
    border: none;
    color:#a8080c;
    font-size: 20px;
    font-family: 'PT Sans', arial, sans-serif;
}
.btn-modal{
    width: 100%;
    border: none;
    height: 58px;
    font-size: 26px;
    font-family: 'PT Serif B', arial, sans-serif;
    background-color: #a8080c;
    color:#fff;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    .modal-title{

        color: #a8080c;
        font-size: 26px;
        font-family: 'PT Serif B', arial, sans-serif;
        padding-left: 4%;

    }
    .form-group{margin: 0;
        .spasibo{
            font-size: 24px;
            font-family: 'PT Sans', arial, sans-serif;
        }
        p{
            font-size: 17px;
            font-family: 'PT Sans', arial, sans-serif;
        }
    input {
        width: 95%;
        height: 50px;
        margin-bottom: 15px;
        border-radius: 3px;
        border: 1px solid #d2d2d2;
        outline: none;
        padding-left: 20px;
        color: #000;
    }
        input:focus {
            border-color: #a8080c;
            box-shadow: none;
        }
    }

}

.close-button {
    position: absolute;
    font-size: 50px;
    right: 15px;
    top: 25px;
    font-weight: 100;
    color: #a8080c;
    background: none;
    border: none;

}