@media (max-width: 1200px) {
	    .production {
        .item-pr-last{display: none;}
    footer {
        .copyright {
            .privacy {
                width: 70%;
            }
        }
    }
}}

@media (min-width: 992px) and (max-width: 1200px) {
    header {
        h1 {
            font-size: 42px;
            margin: 45px 3% 0;
        }
        h3 {
            margin: 0 24%;
        }
        figure {
            margin: 57px 0 38px;
            figcaption {
                line-height: 30px;
            }
        }
      .float-r{
        margin-right: -18px;
      }
      .float-l{
        margin-left: -49px;
      }
    }
    .about {
      min-height: 802px;
      h2{
        margin-top: 49px;
      }
        .flex-container {
            justify-content: space-between;
          margin-bottom: 18px;
            .flex-item {
                flex-basis: 19%;
              margin-top: 1px;
              height: 115px;
              margin-bottom: 17px;
                img {
                    width: 66%;
                }
            }
        }
    }
    .production {
    	.item-pr-last{display: none;}
        min-height: 1475px;
        figure {
            .triangle_top {
                bottom: 29%;
            }
            figcaption {
                padding: 24px 0 24px 30px;
            }
        }
    }
    .mr {
        margin: 0 15% 20px;
    }
  .works {
    min-height: 945px;
    h2 {
      margin-top: 139px;
    }
  }
    footer {
      .map{
        width: 35%;
      }
        .copyright {
            width: 30%;
        }
        .info {
          width: 64%;
          .logo{
            margin-bottom: 13px;
          }
            .footer {
              .phone{
                display: block;
                float: left;
                margin-top: 30px;
              }
                button {
                  margin-top: 17px;
                }
                .margin-r {
                    margin-right: 0!important;
                }
              .number{
                margin: 21px 0;

                span{
                  display: block;
                }
                .fix{
                  padding-top: 20px;
                }
              }
            }
        }
      .copyright{
        padding-left: 68px;
        margin-top: 70px;
      }
      .ads{
        margin-top: 69px;
        margin-left: 45px;
      }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header {
      min-height: 750px;
        h1 {
            font-size: 32px;
            margin: 28px 3% 0;
            padding: 20px;
        }
        h3 {
            font-size: 24px;
            margin: 0 24%;
            padding: 20px;
        }
      .float-r {
        margin-right: 17px;
      }
      figure {
        margin: 46px 0 38px;
      }
      .float-l {
        margin-left: -17px;
      }
    }
  .about h2 {
    margin-top: 43px;
  }
    .production {
    	.item-pr-last{display: none;}
        min-height: 1180px;
        figure {
            figcaption {
                padding: 15px 15px;
                font-size: 20px;
                line-height: 20px;
            }
            img {
                height: 185px;
            }
        }
        .item-pr {
            .triangle_top {
                bottom: 27%;
            }
            height: 265px;
        }
        .heiht-biger {
            height: 285px;
        }
        .top-biger {
            bottom: 32%!important;
        }
    }
    .mr {
        margin: 0 5% 20px;
    }
    .hidden-md {
        display: none;
    }
    .about {
      min-height: 985px;
      .flex-container {
        justify-content: space-around;
        .flex-item {
          width: 222px;
          height: 138px;
          margin-top: 0;
          margin-bottom: 13px;
          img {
            width: 70%;
          }
        }
      }
      .works {
        min-height: 709px;
        h2 {
          margin-top: 46px;
        }
        .mr {
          margin: -8px 10% 2px;
        }
      }
    }

    footer {
        .copyright {
            width: 52%;
            padding-left: 40px;
            margin-top: 70px;
        }
        .ads {
            margin-top: 17px;
            margin-left: 40px;
        }
        .map {
            width: 40%;
        }
        .info {
             padding-left: 53px;
          padding-top: 39px;
            width: 60%;
          .logo{
            margin-bottom: 35px;
          }
            .footer {
                .phone {
                  margin-right: 28px;
                  display: block;
                  float: left;
                }
                .margin-r {
                    margin-right: 0!important;
                }
                .number {
                    font-size: 24px;
                  span{
                    line-height: 20px;
                  }
                }
            }
        }
    }
}

@media (min-width: 516px) and (max-width: 767px) {
    .production {
    .item-pr-fix {
        height: auto!important;
    }
}}



@media (min-width: 480px) and (max-width: 767px) {
    header {
      min-height: 748px;
        .logo{
          img{
            width: 167px;
          }
        }
        .top-line {
            margin-top: 25px;
        }
        .float-r {
            float: none;
        }
        .float-l {
            float: none;
          margin-left:0;
        }
        h1 {
            font-size: 32px;
            margin: 20px 3% 0;
            padding: 16px;
        }
        h3 {
            font-size: 24px;
            margin: 0 9% 45px;
            padding: 13px;
        }
        figure {
            margin: -20px 0;
            img {
                float: left;
            }
            figcaption {
                padding-top: 28px;
                text-align: left;
              &.text-right{
                text-align: right;
              }
            }

        }
        .text-right {
            text-align: right
        }
        .float-c {
            float: right;
            text-align: right;
        }
    }
    
    .production {
      min-height: 1734px;
        .item-pr-last{display: block;}
        .item-pr {
            margin-bottom: 11px;
            height:277px;

            figure {
                .triangle_top {
                    top: 177px;
                }
                img {
                    height: 190px;
                }
                figcaption {
                  padding: 13px;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
        .item-pr-fix {
            height: 277px;
        }
        .item-pr-last {
            height: 255px;
        }
      button{
        margin-top: 22px;
      }
    }
    
    .mr {
        margin: 0 3% 20px;
    }
    
    .about {
      min-height: 873px;
      h2{
        margin-top: 40px;
      }
        .hidden-md {
            display: none;
        }
        .flex-container {
            justify-content: space-around;
          margin-bottom: 16px;
            .flex-item {
                flex-basis: 30%;
                height: 94px;
              margin-top:0;
              margin-bottom: 12px;
                img {
                    width: 65%;
                }
            }
        }
    }
  .works{
    min-height: 610px;
    .mr {
      margin: 0 1% 2px;
    }
    h2 {
      margin-top: 49px;
    }
  }
    footer {
        min-height: 931px;
        .ads {
            width: 36%;
            margin: 25px 130px 25px;
        }
        .copyright {
            width: 100%;
            padding-left: 0;
            text-align: center;
          margin-top: 20px;
            .privacy {
                width: 100%;
            }
        }
        .map {
            width: 100%;
            height: 290px;
          margin-top: 25px;
        }
        .info {
          padding-top: 39px;
          padding-left: 0;
            text-align: center;
            .margin-r {
                margin-right: -20px!important;
            }
            width: 100%;
          .logo{
            margin-bottom:35px;
          }
            .footer {
                .phone {
                    float: left;
                  margin-right: 0;
                  margin-left: 40px;
                    text-align: left;
                }
                .number {
                    font-size: 24px;
                    line-height: 1px;
                    span{
                      font-size: 20px;
                      color: #b98236;
                      display: block;
                      line-height: 24px;
                    }
                  .fix{
                    padding-top: 23px;
                  }
                }
                .hidden-md {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 479px) {
    .btn-size {
        height: 60px;
        width: 300px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    
    header {
        min-height: 685px;
      .top-line{
        margin-top: 24px;
      }
        .btn-size {
            margin-top: 15px;
        }
        .logo {
            img {
                width: 121px;
            }
        }
        h1 {
            font-size: 24px;
            margin: 20px 2% 0;
            padding: 20px;
        }
        h3 {
            font-size: 20px;
            margin: 0 19%;
            padding: 10px;
        }
        figure {
            margin: 10px 0;
            img {
                width: 140px;
                float: left;
            }
            figcaption {
                font-size: 15px;
                padding-top: 9px;
                text-align: left;
            }
        }
        .text-right {
            text-align: right;
        }
        .float-c {
            float: right;
            text-align: right;
        }
        .float-r {
            float: none;
        }
        .float-l {
            float: none;
          margin-left:0;
        }
    }
    
    .production {
      h2{
        margin-top: 20px;
        font-size: 24px;
      }
    	.small-padding{
    		width: 100%;
    	}
        .item-pr {
            height: auto;
          margin-bottom: 30px;
        }
        figure {
            .triangle_top {
                top: 237px;
            }
            figcaption {
              padding: 0 11px;
              font-size: 20px;
              line-height: 25px;
            }
        }
    }
    
    .mr {
      margin: 0 3% 20px;
      line-height: 21px;
    }
    
    .about {
      h2{
        margin-top: 42px;
        font-size: 24px;
      }
        .hidden-md {
            display: none;
        }
        .flex-container {
          margin-bottom: 17px;
.hidden-xs{display: block!important;}
            justify-content: space-around;
            .flex-item {
                flex-basis: 46%;
                height: 84px;
                img {
                    width: 50%;
                }
            }
        }
    }
  .works{
    min-height: 520px;
    h2{
      margin-top: 39px;
      font-size: 24px;
    }
    .mr{
      margin: 0 3% -19px;
    }
  }
    
    footer {
        min-height: 950px;
        .ads {
            width: 36%;
          margin: 13px 39px 25px;
        }
        .copyright {
            width: 100%;
            padding-left: 0;
            text-align: center;
          margin-top: 7px;
            .privacy {
                width: 100%;
            }
        }
        .map {
            width: 100%;
            height: 290px;
        }
        .info {
            .logo {
                margin-bottom: 15px;
            }
            text-align: center;
            width: 100%;
            padding-left: 0;
            .footer {
                .phone {    width: 100%;
                    margin-right: 0;
                    line-height: 35px;
                }
                .visible-sm {
                    display: none;
                }

                .number {
                    margin: 13px 0;
                    font-size: 24px;
                    line-height: 25px;
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

