/*
+----------------------------------------------------------------+
    Carousel
+----------------------------------------------------------------+
*/
.carousel {
    margin: 0 auto;
    position: relative;
    width: 1170px;
}

.carousel-wrapper {
    height: 478px;
}

.carousel-box {
    border: 7px solid #FFF;
    background-color: #CFCFCF;
    height: 390px;
    left: calc(50% - 350px) ;
    list-style: none;
    overflow: hidden;
    position: absolute;
    top: 15%;
    margin: 0;
    width: 700px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.5s ease-out;
       -moz-transition: 0.5s ease-out;
        -ms-transition: 0.5s ease-out;
         -o-transition: 0.5s ease-out;
            transition: 0.5s ease-out;
}

.carousel-box.is-active {
    z-index: 4;
    width: 830px;
    height: 453px;
    left: calc(50% - 415px);
    margin: 35px 0 0 0;
    top: 0;
    opacity: 1;
    border-top-left-radius: 20px;
}

.carousel-box.left,
.carousel-box.right {
    width: 830px;
    height: 408px;
    opacity: 0.2;
}

.carousel-box.left {
    left: 0;
    margin: 0;
    top: 60px;
    z-index: 2;
}

.carousel-box.right {
  left: inherit;
  top: 60px;
  z-index: 2;
  right: 0;
}

.nav-left,
.nav-right {
    background: url('img/arrow.png') no-repeat left 0;
    cursor: pointer;
    height: 60px;
    position: absolute;
    top: calc(50% - 50px);
    width: 44px;
    z-index: 10;
}

.nav-left {left: 60px}

.nav-left:hover{
  background-position: left -118px;
}
.nav-right {
  right: 60px;
  background-position: right 0;
}
.nav-right:hover{
  background-position: right -118px;
}
.filter-block{
    width: 830px;
    margin: 0 auto;
    height:65px;
    background: #fff;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.4);
}
.filter-block .number{
    width:100px;
    float: left;
    height:100%;
    background: #a8080c;
    font-size: 42px;
    color: #fff;
    font-family: 'PT Serif B', Arial, sans-serif;
}

.filter-block .number p{
    line-height: 70px;
    text-align: center;
}
.filter-block .number sup{
    top: -1.2em;
    font-size: 40%;
    color: #d99f58;
}
.select-category{
    font-size: 20px;
    padding: 13px;
    font-family: 'PT Sans', arial, sans-serif;
}
.select-category label{
    margin: 0 24px;
    font-weight:normal;
    color: #d99f58;
}
.select-category select{
    width: 493px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #d99f58;
}

/*media query*/
@media (max-width: 1199px) {
    .carousel{
        width: 970px;
    }
    .nav-left {
        left: 20px;
    }
    .nav-right {
        right: 20px;

    }
}
@media (max-width: 992px) {
    .carousel{
        width: 750px;
    }
    .carousel-box.is-active{
        width: 630px;
        height: 330px;
        left: calc(50% - 315px);
    }
    .carousel-box.left, .carousel-box.right {
        width: 500px;
        height: 300px;
        opacity: 0.2;
        top:50px;
    }
    .carousel-wrapper {
        height: 355px;
    }
    .nav-left, .nav-right {
        top: calc(50% - 25px);
    }
    .carousel-box img{
        width: 100%;
        height: auto;
    }
    .filter-block{
        width: 630px;
    }
    .select-category label {
        margin: 0 15px;
    }
    .select-category select {
        width: 310px;
    }
    }
@media (max-width: 767px) {
    .carousel{
        width: 85%;
    }
    .carousel-box.is-active{
        width: 100%;
        left: 0;
        height: auto;
    }
    .carousel-box.left, .carousel-box.right{
        width: 90%;
        height:auto;
    }
    .carousel-box.left{
        left: -10%;
    }
    .carousel-box.right{
        right:-10%;
    }
    .carousel-box{
        width: 90%;
        height: auto;
    }
    .carousel-wrapper{
        height: auto;
        padding-top: 66%;
    }
    .nav-left{
        left: -22px;
    }
    .nav-right {
        right: -21px;
    }
    .nav-left, .nav-right{
        background-size: 70px;
        top:50%;
    }
    .filter-block{
        width: 100%;
        margin-top: -6%;
    }
    .select-category label{
        display: none;
    }
    .filter-block .number {
        width: 75px;
    }
    .select-category select {
        width: 62%;
        margin-left: 5%;
    }
}