@font-face {
  font-family: 'PT Serif B';
  src: url("../fonts/PTSerif-Bold.eot");
  src: url("../fonts/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans BI';
  src: url("../fonts/PTSans-BoldItalic.eot");
  src: url("../fonts/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-BoldItalic.woff2") format("woff2"), url("../fonts/PTSans-BoldItalic.woff") format("woff"), url("../fonts/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans Narrow B';
  src: url("../fonts/PTSans-NarrowBold.eot");
  src: url("../fonts/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-NarrowBold.woff2") format("woff2"), url("../fonts/PTSans-NarrowBold.woff") format("woff"), url("../fonts/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTSans-Narrow.eot");
  src: url("../fonts/PTSans-Narrow.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Narrow.woff2") format("woff2"), url("../fonts/PTSans-Narrow.woff") format("woff"), url("../fonts/PTSans-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans I';
  src: url("../fonts/PTSans-Italic.eot");
  src: url("../fonts/PTSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Italic.woff2") format("woff2"), url("../fonts/PTSans-Italic.woff") format("woff"), url("../fonts/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif I';
  src: url("../fonts/PTSerif-Italic.eot");
  src: url("../fonts/PTSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Italic.woff2") format("woff2"), url("../fonts/PTSerif-Italic.woff") format("woff"), url("../fonts/PTSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans B';
  src: url("../fonts/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Serif BI';
  src: url("../fonts/PTSerif-BoldItalic.eot");
  src: url("../fonts/PTSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-BoldItalic.woff2") format("woff2"), url("../fonts/PTSerif-BoldItalic.woff") format("woff"), url("../fonts/PTSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Regular.eot");
  src: url("../fonts/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 80, ../sass/main.scss */
body {
  line-height: 20px;
}

/* line 83, ../sass/main.scss */
h1,
h2 {
  margin: 0;
}

/* line 88, ../sass/main.scss */
button, input {
  outline: none !important;
}

/* line 91, ../sass/main.scss */
.btn {
  color: #ffd991;
  outline: none;
}

/* line 95, ../sass/main.scss */
.btn-size {
  width: 390px;
  height: 76px;
  font-family: 'PT Serif B', arial, sans-serif;
  font-size: 24px;
  border-radius: 7px;
}

/* line 103, ../sass/main.scss */
.btn-bg {
  background-image: url(../img/btn-normal-big.png);
  background-size: 100% 100%;
  color: #ffd991 !important;
}
/* line 107, ../sass/main.scss */
.btn-bg:hover {
  background-image: url(../img/btn-hover-big.png);
  color: #ffd991;
}
/* line 111, ../sass/main.scss */
.btn-bg:active {
  background-image: url(../img/btn-active-big.png);
  color: #ffd991;
}

/* line 117, ../sass/main.scss */
.after-line {
  text-align: center;
  margin-bottom: 25px;
}
/* line 120, ../sass/main.scss */
.after-line:before {
  content: '';
  width: 70px;
  height: 1px;
  background-color: #ffd991;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}
/* line 129, ../sass/main.scss */
.after-line:after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: #ffd991;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* line 140, ../sass/main.scss */
h2 {
  font-family: 'PT Serif B', arial, sans-serif;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  color: #a8080c;
  margin-bottom: 5px;
}

/* line 149, ../sass/main.scss */
header {
  min-height: 800px;
  text-align: center;
  background: url("../img/header-bg1.jpg") center top no-repeat;
}
/* line 153, ../sass/main.scss */
header .top-line {
  margin-top: 52px;
}
/* line 156, ../sass/main.scss */
header h1 {
  margin: 47px 12% 0;
  font-family: 'PT Serif B', arial, sans-serif;
  color: #a8080c;
  font-size: 42px;
  background: #fff;
  padding: 18px 0px 22px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* line 165, ../sass/main.scss */
header h1 span {
  color: #dba55c;
}
/* line 169, ../sass/main.scss */
header h3 {
  font-size: 32px;
  color: #fff;
  font-family: 'PT Sans B', arial, sans-serif;
  background: #dba55c;
  padding: 20px 24px 20px 12px;
  border-bottom-right-radius: 15px;
  margin: 0 29%;
}
/* line 178, ../sass/main.scss */
header figure {
  margin: 57px 0 46px;
}
/* line 180, ../sass/main.scss */
header figure figcaption {
  font-size: 24px;
  line-height: 25px;
  color: #a8080c;
  font-family: 'PT Sans B', arial, sans-serif;
  margin-left: 15px;
}
/* line 186, ../sass/main.scss */
header figure figcaption.text-right {
  text-align: center;
}
/* line 191, ../sass/main.scss */
header .float-r {
  float: right;
  margin-right: -50px;
}
/* line 195, ../sass/main.scss */
header .float-l {
  float: left;
  margin-left: -73px;
}

/*production*/
/* line 204, ../sass/main.scss */
.production {
  min-height: 1455px;
  background: url("../img/second-bg.jpg") bottom no-repeat;
}
/* line 207, ../sass/main.scss */
.production .small-padding {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 211, ../sass/main.scss */
.production .button {
  margin-top: 10px;
  text-align: center;
}
/* line 215, ../sass/main.scss */
.production .item-pr {
  height: 351px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/* line 226, ../sass/main.scss */
.production figure {
  position: relative;
}
/* line 228, ../sass/main.scss */
.production figure .triangle_top {
  width: 0;
  height: 0;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  position: absolute;
  left: 11%;
  bottom: 30%;
  -webkit-transform: translateY(0%) translateX(-50%);
  -moz-transform: translateY(0%) translateX(-50%);
  -ms-transform: translateY(0%) translateX(-50%);
  -o-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%);
}
/* line 243, ../sass/main.scss */
.production figure img {
  width: 100%;
  height: 250px;
}
/* line 247, ../sass/main.scss */
.production figure figcaption {
  background: #fff;
  font-size: 24px;
  font-family: 'PT Serif B', arial, sans-serif;
  padding: 26px 0 26px 31px;
  line-height: 28px;
  color: #a8080c;
}
/* line 254, ../sass/main.scss */
.production figure figcaption span {
  color: #b98236;
  font-size: 16px;
  font-family: 'PT Sans', arial, sans-serif;
  display: block;
}

/*third*/
/* line 266, ../sass/main.scss */
.mr {
  text-align: center;
  margin: 0 22% 20px;
  font-size: 16px;
  font-family: 'PT Sans', arial, sans-serif;
}

/* line 273, ../sass/main.scss */
.about {
  text-align: center;
  min-height: 890px;
  background: url("../img/third-bg.jpg") bottom center no-repeat;
  background-size: cover;
}
/* line 278, ../sass/main.scss */
.about h2 {
  margin-top: 68px;
}
/* line 281, ../sass/main.scss */
.about .btn {
  margin-top: 15px;
}
/* line 285, ../sass/main.scss */
.about .flex-container {
  padding: 0;
  margin-bottom: 36px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 297, ../sass/main.scss */
.about .flex-container .flex-item {
  position: relative;
  background: #fff;
  padding: 0 40px;
  width: 221px;
  height: 138px;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.15);
}
/* line 309, ../sass/main.scss */
.about .flex-container .flex-item img {
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  width: 63%;
  text-align: center;
}
/* line 322, ../sass/main.scss */
.about .flex-container .flex-item:nth-child(3) img {
  width: 46%;
}

/*works*/
/* line 331, ../sass/main.scss */
.works {
  min-height: 870px;
  background: url("../img/fof-bg.jpg") bottom center no-repeat;
  background-size: cover;
}
/* line 335, ../sass/main.scss */
.works h2 {
  margin-top: 65px;
}
/* line 338, ../sass/main.scss */
.works .mr {
  margin: 0 22% 2px;
}
/* line 341, ../sass/main.scss */
.works .galery {
  overflow: hidden;
  position: relative;
  height: 100%;
}
/* line 345, ../sass/main.scss */
.works .galery .left-overlay {
  background: rgba(204, 204, 204, 0.54);
  position: absolute;
  top: 0;
  left: 0;
  width: 24%;
  height: 100%;
  z-index: 11;
  border-top-left-radius: 20px;
}
/* line 355, ../sass/main.scss */
.works .galery .right-overlay {
  background: rgba(204, 204, 204, 0.54);
  position: absolute;
  top: 0;
  right: 0;
  width: 24%;
  height: 100%;
  z-index: 11;
  border-top-right-radius: 20px;
}
/* line 366, ../sass/main.scss */
.works .galery .owl-carousel {
  width: 159.1% !important;
  margin-left: -29.5555%;
}

/*footer*/
/* line 376, ../sass/main.scss */
footer {
  min-height: 600px;
  background-image: url(../img/third-bg.jpg);
  background-size: cover;
}
/* line 380, ../sass/main.scss */
footer .map {
  width: 33%;
  height: 600px;
  float: left;
}
/* line 385, ../sass/main.scss */
footer .info {
  width: 66%;
  float: right;
  padding-top: 60px;
  padding-left: 60px;
}
/* line 391, ../sass/main.scss */
footer .info .logo {
  margin-bottom: 43px;
  width: 121px;
}
/* line 396, ../sass/main.scss */
footer .info .footer .phone {
  display: inline-block;
  margin-right: 93px;
  position: relative;
  font-family: 'PT Sans', arial, sans-serif;
  font-size: 20px;
}
/* line 402, ../sass/main.scss */
footer .info .footer .phone.margin-r {
  margin-right: 0;
}
/* line 406, ../sass/main.scss */
footer .info .footer .number {
  font-family: 'PT Serif B', arial, sans-serif;
  font-size: 32px;
  margin: 26px 0;
}
/* line 410, ../sass/main.scss */
footer .info .footer .number span {
  font-family: 'PT Sans', arial, sans-serif;
  font-size: 20px;
  color: #b98236;
}
/* line 415, ../sass/main.scss */
footer .info .footer button {
  margin-top: 15px;
  height: 72px;
  width: 280px;
}
/* line 426, ../sass/main.scss */
footer .copyright {
  width: 27%;
  float: left;
  font-size: 16px;
  padding-left: 63px;
  margin-top: 100px;
}
/* line 434, ../sass/main.scss */
footer .copyright .privacy {
  width: 100%;
}
/* line 436, ../sass/main.scss */
footer .copyright .privacy a {
  font-family: 'PT Sans', arial, sans-serif;
  font-size: 16px;
  color: #a8080c;
}
/* line 441, ../sass/main.scss */
footer .copyright .privacy span {
  color: #999999;
  font-family: 'PT Sans', arial, sans-serif;
}
/* line 447, ../sass/main.scss */
footer .visible-xx {
  display: none;
}
/* line 450, ../sass/main.scss */
footer .ads {
  width: 25%;
  float: left;
  position: relative;
  margin-top: 102px;
  margin-left: 85px;
}
/* line 457, ../sass/main.scss */
footer .ads a {
  font-family: 'PT Sans', arial, sans-serif;
  font-size: 16px;
  color: #a8080c;
}
/* line 462, ../sass/main.scss */
footer .ads img {
  position: absolute;
  top: 0;
  left: 122px;
}

/* line 469, ../sass/main.scss */
.item-pr-last {
  display: none;
}

/* line 457, ../sass/main.scss */
#phone {
  margin-bottom: 30px;
}

/* line 461, ../sass/main.scss */
#thanks .modal-content {
  height: 250px;
}

/* line 463, ../sass/main.scss */
.btn-close {
  float: right;
  background: none;
  border: none;
  color: #a8080c;
  font-size: 20px;
  font-family: 'PT Sans', arial, sans-serif;
}

/* line 471, ../sass/main.scss */
.btn-modal {
  width: 100%;
  border: none;
  height: 58px;
  font-size: 26px;
  font-family: 'PT Serif B', arial, sans-serif;
  background-color: #a8080c;
  color: #fff;
}

/* line 480, ../sass/main.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* line 494, ../sass/main.scss */
.modal-content .modal-title {
  color: #a8080c;
  font-size: 26px;
  font-family: 'PT Serif B', arial, sans-serif;
  padding-left: 4%;
}
/* line 502, ../sass/main.scss */
.modal-content .form-group {
  margin: 0;
}
/* line 503, ../sass/main.scss */
.modal-content .form-group .spasibo {
  font-size: 24px;
  font-family: 'PT Sans', arial, sans-serif;
}
/* line 507, ../sass/main.scss */
.modal-content .form-group p {
  font-size: 17px;
  font-family: 'PT Sans', arial, sans-serif;
}
/* line 511, ../sass/main.scss */
.modal-content .form-group input {
  width: 95%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  outline: none;
  padding-left: 20px;
  color: #000;
}
/* line 521, ../sass/main.scss */
.modal-content .form-group input:focus {
  border-color: #a8080c;
  box-shadow: none;
}

/* line 529, ../sass/main.scss */
.close-button {
  position: absolute;
  font-size: 50px;
  right: 15px;
  top: 25px;
  font-weight: 100;
  color: #a8080c;
  background: none;
  border: none;
}
