@media (max-width: 1200px) {
  /* line 3, ../sass/media.scss */
  .production .item-pr-last {
    display: none;
  }
  /* line 6, ../sass/media.scss */
  .production footer .copyright .privacy {
    width: 70%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 15, ../sass/media.scss */
  header h1 {
    font-size: 42px;
    margin: 45px 3% 0;
  }
  /* line 19, ../sass/media.scss */
  header h3 {
    margin: 0 24%;
  }
  /* line 22, ../sass/media.scss */
  header figure {
    margin: 57px 0 38px;
  }
  /* line 24, ../sass/media.scss */
  header figure figcaption {
    line-height: 30px;
  }
  /* line 28, ../sass/media.scss */
  header .float-r {
    margin-right: -18px;
  }
  /* line 31, ../sass/media.scss */
  header .float-l {
    margin-left: -49px;
  }

  /* line 35, ../sass/media.scss */
  .about {
    min-height: 802px;
  }
  /* line 37, ../sass/media.scss */
  .about h2 {
    margin-top: 49px;
  }
  /* line 40, ../sass/media.scss */
  .about .flex-container {
    justify-content: space-between;
    margin-bottom: 18px;
  }
  /* line 43, ../sass/media.scss */
  .about .flex-container .flex-item {
    flex-basis: 19%;
    margin-top: 1px;
    height: 115px;
    margin-bottom: 17px;
  }
  /* line 48, ../sass/media.scss */
  .about .flex-container .flex-item img {
    width: 66%;
  }

  /* line 54, ../sass/media.scss */
  .production {
    min-height: 1475px;
  }
  /* line 55, ../sass/media.scss */
  .production .item-pr-last {
    display: none;
  }
  /* line 58, ../sass/media.scss */
  .production figure .triangle_top {
    bottom: 29%;
  }
  /* line 61, ../sass/media.scss */
  .production figure figcaption {
    padding: 24px 0 24px 30px;
  }

  /* line 66, ../sass/media.scss */
  .mr {
    margin: 0 15% 20px;
  }

  /* line 69, ../sass/media.scss */
  .works {
    min-height: 945px;
  }
  /* line 71, ../sass/media.scss */
  .works h2 {
    margin-top: 139px;
  }

  /* line 76, ../sass/media.scss */
  footer .map {
    width: 35%;
  }
  /* line 79, ../sass/media.scss */
  footer .copyright {
    width: 30%;
  }
  /* line 82, ../sass/media.scss */
  footer .info {
    width: 64%;
  }
  /* line 84, ../sass/media.scss */
  footer .info .logo {
    margin-bottom: 13px;
  }
  /* line 88, ../sass/media.scss */
  footer .info .footer .phone {
    display: block;
    float: left;
    margin-top: 30px;
  }
  /* line 93, ../sass/media.scss */
  footer .info .footer button {
    margin-top: 17px;
  }
  /* line 96, ../sass/media.scss */
  footer .info .footer .margin-r {
    margin-right: 0 !important;
  }
  /* line 99, ../sass/media.scss */
  footer .info .footer .number {
    margin: 21px 0;
  }
  /* line 102, ../sass/media.scss */
  footer .info .footer .number span {
    display: block;
  }
  /* line 105, ../sass/media.scss */
  footer .info .footer .number .fix {
    padding-top: 20px;
  }
  /* line 111, ../sass/media.scss */
  footer .copyright {
    padding-left: 68px;
    margin-top: 70px;
  }
  /* line 115, ../sass/media.scss */
  footer .ads {
    margin-top: 69px;
    margin-left: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 123, ../sass/media.scss */
  header {
    min-height: 750px;
  }
  /* line 125, ../sass/media.scss */
  header h1 {
    font-size: 32px;
    margin: 28px 3% 0;
    padding: 20px;
  }
  /* line 130, ../sass/media.scss */
  header h3 {
    font-size: 24px;
    margin: 0 24%;
    padding: 20px;
  }
  /* line 135, ../sass/media.scss */
  header .float-r {
    margin-right: 17px;
  }
  /* line 138, ../sass/media.scss */
  header figure {
    margin: 46px 0 38px;
  }
  /* line 141, ../sass/media.scss */
  header .float-l {
    margin-left: -17px;
  }

  /* line 145, ../sass/media.scss */
  .about h2 {
    margin-top: 43px;
  }

  /* line 148, ../sass/media.scss */
  .production {
    min-height: 1180px;
  }
  /* line 149, ../sass/media.scss */
  .production .item-pr-last {
    display: none;
  }
  /* line 152, ../sass/media.scss */
  .production figure figcaption {
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 157, ../sass/media.scss */
  .production figure img {
    height: 185px;
  }
  /* line 161, ../sass/media.scss */
  .production .item-pr {
    height: 265px;
  }
  /* line 162, ../sass/media.scss */
  .production .item-pr .triangle_top {
    bottom: 27%;
  }
  /* line 167, ../sass/media.scss */
  .production .heiht-biger {
    height: 285px;
  }
  /* line 170, ../sass/media.scss */
  .production .top-biger {
    bottom: 32% !important;
  }

  /* line 174, ../sass/media.scss */
  .mr {
    margin: 0 5% 20px;
  }

  /* line 177, ../sass/media.scss */
  .hidden-md {
    display: none;
  }

  /* line 180, ../sass/media.scss */
  .about {
    min-height: 985px;
  }
  /* line 182, ../sass/media.scss */
  .about .flex-container {
    justify-content: space-around;
  }
  /* line 184, ../sass/media.scss */
  .about .flex-container .flex-item {
    width: 222px;
    height: 138px;
    margin-top: 0;
    margin-bottom: 13px;
  }
  /* line 189, ../sass/media.scss */
  .about .flex-container .flex-item img {
    width: 70%;
  }
  /* line 194, ../sass/media.scss */
  .about .works {
    min-height: 709px;
  }
  /* line 196, ../sass/media.scss */
  .about .works h2 {
    margin-top: 46px;
  }
  /* line 199, ../sass/media.scss */
  .about .works .mr {
    margin: -8px 10% 2px;
  }

  /* line 206, ../sass/media.scss */
  footer .copyright {
    width: 52%;
    padding-left: 40px;
    margin-top: 70px;
  }
  /* line 211, ../sass/media.scss */
  footer .ads {
    margin-top: 17px;
    margin-left: 40px;
  }
  /* line 215, ../sass/media.scss */
  footer .map {
    width: 40%;
  }
  /* line 218, ../sass/media.scss */
  footer .info {
    padding-left: 53px;
    padding-top: 39px;
    width: 60%;
  }
  /* line 222, ../sass/media.scss */
  footer .info .logo {
    margin-bottom: 35px;
  }
  /* line 226, ../sass/media.scss */
  footer .info .footer .phone {
    margin-right: 28px;
    display: block;
    float: left;
  }
  /* line 231, ../sass/media.scss */
  footer .info .footer .margin-r {
    margin-right: 0 !important;
  }
  /* line 234, ../sass/media.scss */
  footer .info .footer .number {
    font-size: 24px;
  }
  /* line 236, ../sass/media.scss */
  footer .info .footer .number span {
    line-height: 20px;
  }
}
@media (min-width: 516px) and (max-width: 767px) {
  /* line 247, ../sass/media.scss */
  .production .item-pr-fix {
    height: auto !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 255, ../sass/media.scss */
  header {
    min-height: 748px;
  }
  /* line 258, ../sass/media.scss */
  header .logo img {
    width: 167px;
  }
  /* line 262, ../sass/media.scss */
  header .top-line {
    margin-top: 25px;
  }
  /* line 265, ../sass/media.scss */
  header .float-r {
    float: none;
  }
  /* line 268, ../sass/media.scss */
  header .float-l {
    float: none;
    margin-left: 0;
  }
  /* line 272, ../sass/media.scss */
  header h1 {
    font-size: 32px;
    margin: 20px 3% 0;
    padding: 16px;
  }
  /* line 277, ../sass/media.scss */
  header h3 {
    font-size: 24px;
    margin: 0 9% 45px;
    padding: 13px;
  }
  /* line 282, ../sass/media.scss */
  header figure {
    margin: -20px 0;
  }
  /* line 284, ../sass/media.scss */
  header figure img {
    float: left;
  }
  /* line 287, ../sass/media.scss */
  header figure figcaption {
    padding-top: 28px;
    text-align: left;
  }
  /* line 290, ../sass/media.scss */
  header figure figcaption.text-right {
    text-align: right;
  }
  /* line 296, ../sass/media.scss */
  header .text-right {
    text-align: right;
  }
  /* line 299, ../sass/media.scss */
  header .float-c {
    float: right;
    text-align: right;
  }

  /* line 305, ../sass/media.scss */
  .production {
    min-height: 1734px;
  }
  /* line 307, ../sass/media.scss */
  .production .item-pr-last {
    display: block;
  }
  /* line 308, ../sass/media.scss */
  .production .item-pr {
    margin-bottom: 11px;
    height: 277px;
  }
  /* line 313, ../sass/media.scss */
  .production .item-pr figure .triangle_top {
    top: 177px;
  }
  /* line 316, ../sass/media.scss */
  .production .item-pr figure img {
    height: 190px;
  }
  /* line 319, ../sass/media.scss */
  .production .item-pr figure figcaption {
    padding: 13px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 326, ../sass/media.scss */
  .production .item-pr-fix {
    height: 277px;
  }
  /* line 329, ../sass/media.scss */
  .production .item-pr-last {
    height: 255px;
  }
  /* line 332, ../sass/media.scss */
  .production button {
    margin-top: 22px;
  }

  /* line 337, ../sass/media.scss */
  .mr {
    margin: 0 3% 20px;
  }

  /* line 341, ../sass/media.scss */
  .about {
    min-height: 873px;
  }
  /* line 343, ../sass/media.scss */
  .about h2 {
    margin-top: 40px;
  }
  /* line 346, ../sass/media.scss */
  .about .hidden-md {
    display: none;
  }
  /* line 349, ../sass/media.scss */
  .about .flex-container {
    justify-content: space-around;
    margin-bottom: 16px;
  }
  /* line 352, ../sass/media.scss */
  .about .flex-container .flex-item {
    flex-basis: 30%;
    height: 94px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  /* line 357, ../sass/media.scss */
  .about .flex-container .flex-item img {
    width: 65%;
  }

  /* line 363, ../sass/media.scss */
  .works {
    min-height: 610px;
  }
  /* line 365, ../sass/media.scss */
  .works .mr {
    margin: 0 1% 2px;
  }
  /* line 368, ../sass/media.scss */
  .works h2 {
    margin-top: 49px;
  }

  /* line 372, ../sass/media.scss */
  footer {
    min-height: 931px;
  }
  /* line 374, ../sass/media.scss */
  footer .ads {
    width: 36%;
    margin: 25px 130px 25px;
  }
  /* line 378, ../sass/media.scss */
  footer .copyright {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
  }
  /* line 383, ../sass/media.scss */
  footer .copyright .privacy {
    width: 100%;
  }
  /* line 387, ../sass/media.scss */
  footer .map {
    width: 100%;
    height: 290px;
    margin-top: 25px;
  }
  /* line 392, ../sass/media.scss */
  footer .info {
    padding-top: 39px;
    padding-left: 0;
    text-align: center;
    width: 100%;
  }
  /* line 396, ../sass/media.scss */
  footer .info .margin-r {
    margin-right: -20px !important;
  }
  /* line 400, ../sass/media.scss */
  footer .info .logo {
    margin-bottom: 35px;
  }
  /* line 404, ../sass/media.scss */
  footer .info .footer .phone {
    float: left;
    margin-right: 0;
    margin-left: 40px;
    text-align: left;
  }
  /* line 410, ../sass/media.scss */
  footer .info .footer .number {
    font-size: 24px;
    line-height: 1px;
  }
  /* line 413, ../sass/media.scss */
  footer .info .footer .number span {
    font-size: 20px;
    color: #b98236;
    display: block;
    line-height: 24px;
  }
  /* line 419, ../sass/media.scss */
  footer .info .footer .number .fix {
    padding-top: 23px;
  }
  /* line 423, ../sass/media.scss */
  footer .info .footer .hidden-md {
    display: none;
  }
}
@media (max-width: 479px) {
  /* line 431, ../sass/media.scss */
  .btn-size {
    height: 60px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  /* line 438, ../sass/media.scss */
  header {
    min-height: 685px;
  }
  /* line 440, ../sass/media.scss */
  header .top-line {
    margin-top: 24px;
  }
  /* line 443, ../sass/media.scss */
  header .btn-size {
    margin-top: 15px;
  }
  /* line 447, ../sass/media.scss */
  header .logo img {
    width: 121px;
  }
  /* line 451, ../sass/media.scss */
  header h1 {
    font-size: 24px;
    margin: 20px 2% 0;
    padding: 20px;
  }
  /* line 456, ../sass/media.scss */
  header h3 {
    font-size: 20px;
    margin: 0 19%;
    padding: 10px;
  }
  /* line 461, ../sass/media.scss */
  header figure {
    margin: 10px 0;
  }
  /* line 463, ../sass/media.scss */
  header figure img {
    width: 140px;
    float: left;
  }
  /* line 467, ../sass/media.scss */
  header figure figcaption {
    font-size: 15px;
    padding-top: 9px;
    text-align: left;
  }
  /* line 473, ../sass/media.scss */
  header .text-right {
    text-align: right;
  }
  /* line 476, ../sass/media.scss */
  header .float-c {
    float: right;
    text-align: right;
  }
  /* line 480, ../sass/media.scss */
  header .float-r {
    float: none;
  }
  /* line 483, ../sass/media.scss */
  header .float-l {
    float: none;
    margin-left: 0;
  }

  /* line 490, ../sass/media.scss */
  .production h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  /* line 494, ../sass/media.scss */
  .production .small-padding {
    width: 100%;
  }
  /* line 497, ../sass/media.scss */
  .production .item-pr {
    height: auto;
    margin-bottom: 30px;
  }
  /* line 502, ../sass/media.scss */
  .production figure .triangle_top {
    top: 237px;
  }
  /* line 505, ../sass/media.scss */
  .production figure figcaption {
    padding: 0 11px;
    font-size: 20px;
    line-height: 25px;
  }

  /* line 513, ../sass/media.scss */
  .mr {
    margin: 0 3% 20px;
    line-height: 21px;
  }

  /* line 519, ../sass/media.scss */
  .about h2 {
    margin-top: 42px;
    font-size: 24px;
  }
  /* line 523, ../sass/media.scss */
  .about .hidden-md {
    display: none;
  }
  /* line 526, ../sass/media.scss */
  .about .flex-container {
    margin-bottom: 17px;
    justify-content: space-around;
  }
  /* line 528, ../sass/media.scss */
  .about .flex-container .hidden-xs {
    display: block !important;
  }
  /* line 530, ../sass/media.scss */
  .about .flex-container .flex-item {
    flex-basis: 46%;
    height: 84px;
  }
  /* line 533, ../sass/media.scss */
  .about .flex-container .flex-item img {
    width: 50%;
  }

  /* line 539, ../sass/media.scss */
  .works {
    min-height: 520px;
  }
  /* line 541, ../sass/media.scss */
  .works h2 {
    margin-top: 39px;
    font-size: 24px;
  }
  /* line 545, ../sass/media.scss */
  .works .mr {
    margin: 0 3% -19px;
  }

  /* line 550, ../sass/media.scss */
  footer {
    min-height: 950px;
  }
  /* line 552, ../sass/media.scss */
  footer .ads {
    width: 36%;
    margin: 13px 39px 25px;
  }
  /* line 556, ../sass/media.scss */
  footer .copyright {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-top: 7px;
  }
  /* line 561, ../sass/media.scss */
  footer .copyright .privacy {
    width: 100%;
  }
  /* line 565, ../sass/media.scss */
  footer .map {
    width: 100%;
    height: 290px;
  }
  /* line 569, ../sass/media.scss */
  footer .info {
    text-align: center;
    width: 100%;
    padding-left: 0;
  }
  /* line 570, ../sass/media.scss */
  footer .info .logo {
    margin-bottom: 15px;
  }
  /* line 577, ../sass/media.scss */
  footer .info .footer .phone {
    width: 100%;
    margin-right: 0;
    line-height: 35px;
  }
  /* line 581, ../sass/media.scss */
  footer .info .footer .visible-sm {
    display: none;
  }
  /* line 585, ../sass/media.scss */
  footer .info .footer .number {
    margin: 13px 0;
    font-size: 24px;
    line-height: 25px;
  }
  /* line 589, ../sass/media.scss */
  footer .info .footer .number span {
    font-size: 20px;
  }
}
